

{idl_opts, [{be, erl_genserv}]}.
{idl_paths, [
             {file, "idl/system.idl"},
             {dir, "idlfiles", [{outdir, "output/generated"},
                                {'Wall', true}]}
            ] }.

{plugins, [
  {rebar3_idl_compiler, {git, "git@github.com:sebastiw/rebar3_idl_compiler.git", {branch, "master"}}}
]}.
